<div class="ticket" data-ticket-id="{{tiket-id}}">
    <div class="ticket__top">

        <div name="ticket-status-{{tiket-id}}" data-ticket-change-id="{{tiket-id}}"  class="ticket__btn" data-type-btn="ticket-status" data-tiket-status="{{ticket-status}}"></div>
    </div>
    <div class="ticket__center">
        <div class="ticket__info">
            <span class="ticket__title">{{ticket-title}}</span>
            <span class="ticket_date">{{ticket-date}}</span>
        </div>
        <div class="ticket__descr">{{ticket-descr}}</div>
    </div>
    <div class="ticket__bottom">
        <button class="ticket__btn" data-ticket-id="{{tiket-id}}" data-type-btn="change-ticket">&#9998;</button>
        <button class="ticket__btn" data-ticket-id="{{tiket-id}}" data-type-btn="delete-ticket">&#128465;</button>
    </div>
</div>